@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;  Heading */
/* font-family: 'Open Sans', sans-serif;  Body  */

body {
    background: url(bg-desktop.svg) no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: auto;
    background-position: -20px -110px;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 90%;
    margin: 10px auto;
}

/* Section One */

.main {
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    width: 90%;
    margin: 0 auto;
}

.main .info {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    margin-left: 40px;
}

.info h3 {
    color: white;
    font-family: 'Poppins', sans-serif !important;
    font-size: 2em;
    max-width: 400px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.info p {
    color: white;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.info a {
    background-color: white;
    color: hsl(257, 40%, 49%);
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.info a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    box-shadow: 0px 2px 10px black;
}

/* Footer Start */

footer {
    float: right;
    margin-right: 50px;
}

footer a {
    color: white;
    font-size: 2em;
    margin: 10px;
}

footer a:hover {
    color: hsl(300, 69%, 71%);
}

/* Media Start */

@media only screen and (max-width: 600px) {
    
    header img{
        width: 150px !important;
        /* height: 200px !important; */
    }

    .main{
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        width: 100%;
    }

    .image{
        width: 80%;
    }

    .image img{
        width: 100%;
    }
    

    .main .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 80%;
    }

    .info h3, .info p{
        text-align: center;
    }

    .info h3{
        font-size: 1.4em;
    }

    .info p{
        font-size: 1em;
        max-width: 300px;
    }

    footer{
        width: 72%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
    }

    body{
        background: url(bg-mobile.svg) no-repeat;
        background-position:0 -60px;
        background-color: hsl(257, 40%, 49%);
    }

}
